name: Build and deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore WebApp/WebApp.csproj

      - name: Publish
        run: dotnet publish WebApp/WebApp.csproj -c Release -o ./publish --no-restore
      
      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./publish
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          target-folder: publish
          folder: ./publish
        
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
      contents: read
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
